* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.searchBox-container {
     display: flex; 
     align-items: center; 
     justify-content: center; 
     margin-top: 20px; 
     border-bottom: 2px solid #ccc; 
     width: 500px; 
}
.searchBox-container input[type="text"] {
    width: 500px;
    padding: 10px;
    border: transparent;
    font-size: 16px;
    outline: none;
}

.magnifyGlass {
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
    padding: 0; 
}

.magnifyGlass ion-icon {
    margin-left: -30px;
    color: #888;
    transition: transform 0.2s ease-in-out; 
}

.magnifyGlass ion-icon:hover {
    transform: scale(1.5); /* Enlarges the icon to 1.5 times its original size */
}
