* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

#messageForm:focus {
  border-color: #4CAF50;
}

.friend-request-button {
  background-color: #0084ff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9em;
}

.friend-request-button:hover {
  background-color: #005bb5;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 2rem;
}

#welcomeMessage {
  list-style: none;
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
  color: #555;
  text-align: center;
}

.button-container {
  display: flex;
  gap: 1.25rem;
  margin-bottom: 1.875rem;
}

button {
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

#deleteAllMessages {
  background-color: #ff4d4d;
  color: #fff;
}

#playTictactoe {
  background-color: #4caf50;
  color: #fff;
}

button:hover {
  opacity: 0.9;
}

.message-display {
  width: 80%;
  max-height: 60%;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow-y: auto;
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-input-container {
  width: 80%;
}

#chat-form {
  display: flex;
  gap: 0.625rem;
}

#messageForm {
  flex-grow: 1;
  padding: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}

#chat-form button {
  background-color: #007bff;
  color: white;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
}

#chat-form button:hover {
  background-color: #0056b3;
}

.message-container {
  width: 100%;
  margin: 0.625rem 0;
  border-radius: 0.5rem;
  background-color: #f1f1f1;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.user-info-container {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: bold;
  margin-bottom: 0.3125rem;
}

.character-picture {
  width: 1.1em;
  height: 1.1em;
  border-radius: 50%;
  background-color: #ff4d4d;
  margin-right: 0.3125rem;
}

.username {
  color: #333;
  font-size: 1.1em;
  margin-right: 0.625rem;
}

.timestamp {
  color: #888;
  font-size: 0.9em;
}

.message-content {
  font-size: 1rem;
  color: #444;
  margin-top: 0.3125rem;
  line-height: 1.4;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.taskbar { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  background-color: #333; 
  padding: 2rem 1rem; /* Padding using rem for better scalability */ 
  width: 8%; /* Taskbar takes up 8% of the screen width */
  min-width: 100px; /* Minimum width for the taskbar */ 
  height: 100%;
}
.account-button {
  margin-bottom: 3rem;
  width: 100%;
  height: 20%;
}

.taskbar button {
  width: 80%;
  height: 10%;
  background-color: transparent;
  color: #ECEFF1;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0; 
}

.button-icon { 
  width: 2rem; /* Set icon size using rem */
  height: 2rem; 
  filter: invert(100%); 
  transition: fill 0.3s ease;
}


.taskbar button:hover {
  background-color: hsl(0, 0%, 28%);
  transform: scale(1.1);
}

.hamburger-icon {
  width: 3rem;
  height: 3rem;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.hamburger-icon .bar {
  width: 2rem;
  height: 0.25rem;
  background-color: #ECEFF1;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

.bubble-menu {
  display: none;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 12.5rem;
  background-color: #37474F;
  color: #ECEFF1;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  z-index: 1000;
}

.bubble-menu.active {
  display: block;
}

.bubble-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bubble-menu ul li {
  padding: 0.5rem 0;
  text-align: center;
}

.bubble-menu ul li a {
  color: #ECEFF1;
  text-decoration: none;
  font-size: 1rem;
}

.bubble-menu ul li a:hover {
  background-color: #455A64;
  border-radius: 0.25rem;
}

.friends-list {
  background-color: #FAFAFA;
  width: 20%;
  padding: 1%;
  border-left: 0.1% solid #CFD8DC;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friends-list h3 {
  margin-bottom: 1%;
  color: #37474F;
}

.friends-list ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

.friends-list ul li {
  padding: 1%;
  border-bottom: 0.1% solid #CFD8DC;
  text-align: center;
  background-color: #FFFFFF;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  position: relative;
}

.styled-button {
  position: absolute;
  top: 1%;
  width: 15%;
  padding: 1%;
  background-color: #00BCD4;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.styled-button:hover {
  background-color: #0097A7;
  transform: scale(1.05);
}

#messages {
  background: #FAFAFA;
  padding: 2%;
  border-radius: 0.8%;
  box-shadow: 0 0.4% 0.8% rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.delete-button {
  position: absolute;
  top: 1%;
  left: 1%;
  padding: 1%;
  background-color: #00BCD4;
  color: white;
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.delete-button:hover {
  background-color: #0097A7;
  transform: scale(1.05);
}

.message-input-container {
  width: 100%;
  margin: 1%;
}

#messageForm {
  width: 100%;
  padding: 1%;
  margin: 1% 0;
  border: 0.1% solid #CFD8DC;
  border-radius: 0.8%;
  font-size: 1rem;
}

#chat-form button {
  padding: 0.5rem 1rem;
  background-color: #00BCD0;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}



.room-select {
  width: 100%;
}

.chat-room-section {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.chat-room {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.2s;
}

.chat-room:hover {
  background-color: #f0f0f0;
}

.room-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.room-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.room-name {
  font-weight: bold;
  font-size: 1em;
}

.room-time {
  font-size: 0.8em;
  color: #888;
}

#emoji-button {
  padding: 0.5rem;
  background-color: #00BCD4; /* Teal */
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-left: 0.5rem;
}

#emoji-button:hover {
  background-color: #0097A7; /* Darker teal */
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#emoji-picker {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #37474F; /* Blue-gray */
  border: 1px solid #455A64; /* Charcoal */
  border-radius: 8px;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.emoji {
  font-size: 1.5rem;
  cursor: pointer;
}

.emoji:hover {
  transform: scale(1.2);
}